@use "mixin";

.footer {
  ul {
    @include mixin.inline-list();

    li {
      padding: 0;
      background-color: salmon;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
